.loginPage {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  background: linear-gradient(217deg, rgba(0, 0, 0, 0.9) 21.83%, #323232 99.34%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
}

.log {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  padding: 1.2em 0;
}

.initial {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.forms {
  position: relative;
  width: 100%;
  min-height: 400px;
  height: fit-content;
  padding: 10px 0;
  border: 1px solid #fff;
  border-radius: 20px;
}

.backbtn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.backbtnArrow {
  position: absolute;
  width: 18px;
  height: 14px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.disc {
  font-size: 24px;
  font-weight: 200;
  color: hsl(0, 0%, 100%);
  width: 100%;
  text-align: center;
  line-height: 1.4em;
  margin: 14px 0;
}

.authButtonDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.authButtons {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  padding: 1em;
}

.entryButtons {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entryButtons button {
  width: 120px;
  font-size: 16px;
  padding: 10px 12px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}

.entryButtons button:nth-child(1) {
  background-color: #fff;
  color: #000;
}

.or {
  font-size: 14px;
  color: #fff;
}

.otherEntryButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1em;
}

.otherEntryButtons button {
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
}

.otherEntryButtons button span {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.icon img {
  width: 100%;
}

@media (max-width: 768px) {
  .loginPage {
    background: #000;
  }

  .log {
    padding: 3em 10px 10px 10px;
  }

  .disc {
    font-size: 20px;
    margin-bottom: 1.4em 0 0 0;
  }

  .authButtonDiv {
    background-color: #fff;
  }

  .entryButtons button {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
  }

  .entryButtons button:nth-child(1) {
    background-color: #000;
    color: #fff;
  }

  .or {
    color: #000;
  }

  .otherEntryButtons button {
    width: 100%;
    border: 1px solid #000;
  }

  .otherEntryButtons button span {
    color: #000;
  }
}

@media (max-width: 496px) {
  .log {
    width: 100%;
    padding: 2.4em 10px 10px 10px;
  }

  .authButtons {
    width: 100%;
    padding: 10px;
  }

  /* .disc {
      font-size: 18px;
  } */
  .forms {
    border: 0;
    box-shadow: 0 0 2px #fff;
  }

  .entryButtons {
    width: 80%;
  }

  .entryButtons button {
    width: 100px;
    font-size: 14px;
    padding: 8px 10px;
  }

  .otherEntryButtons button {
    padding: 10px 12px;
  }

  .or {
    font-size: 12px;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}