.loginPage {
  width: 100%;
  height: 100%;
  max-height: fit-content;
  overflow-x: hidden;
}

.login {
  width: 100%;
  min-height: 50%;
  height: fit-content !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(330deg, #000 45%, #323232 90.34%); 
}

.authButtonDiv {
  width: 100%;
  min-height: 50%;
  max-height: fit-content !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, #000 80%, #181818 90.23%);

}

.log {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  padding: 1.2em 0;
}

.initial {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.forms {
  position: relative;
  width: 100%;
  min-height: 400px;
  height: fit-content;
  padding: 10px 0;
  border: 1px solid #fff;
  border-radius: 20px;
}

.backbtn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.backbtnArrow {
  position: absolute;
  width: 18px;
  height: 14px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.disc {
  font-size: 24px;
  font-weight: 200;
  color: hsl(0, 0%, 100%);
  width: 100%;
  text-align: center;
  line-height: 1.4em;
  margin: 14px 0;
}

.authButtons {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  padding: 1em;
}

.entryButtons {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entryButtons button {
  width: 120px;
  font-size: 16px;
  padding: 10px 12px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}

.entryButtons button:nth-child(1) {
  background-color: #fff;
  color: #000;
}

.or {
  font-size: 14px;
  color: #fff;
}

.otherEntryButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1em;
}

.otherEntryButtons button {
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.35s;
  position: relative;
  overflow: hidden;
}

.otherEntryButtons button::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18px;
  transform: translate(-100%, 0) rotate(50deg);
  transform-origin: top left;
  transition: all 0.35s;
  /* z-index: -1; */
  content: "";
  background: #fff;
}

.otherEntryButtons button span {
  width: 100%;
  text-align: center;
  font-size: 14px;
  background: transparent;
  color: #fff;
  z-index: 10;
}
/* .otherEntryButtons button:hover {
  background-color: #fff;
} */
.otherEntryButtons button:hover::before {
  transform: translate(0, 0) rotate(0);
  z-index: 10;
}

.otherEntryButtons button:hover span {
  color: #000;
  transition: all 0.35s;
  z-index: 10;
}

.otherEntryButtons button:hover .appleblack {
  display: block;
}

.appleblack {
  display: none;
}


.otherEntryButtons button:hover .applewhite {
  display: none;
}

.icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  z-index: 10;
}

.icon img {
  width: 100%;
}

@media (max-width: 768px) {
  .loginPage {
    background: #000;
  }
  .login {
    background: #000;
  }
  .log {
    padding: 3em 10px 10px 10px;
  }

  .disc {
    font-size: 20px;
    margin-bottom: 1.4em 0 0 0;
  }

  .authButtonDiv {
    background: #fff;
  }

  .entryButtons button {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
  }

  .entryButtons button:nth-child(1) {
    background-color: #000;
    color: #fff;
  }

  .or {
    color: #000;
  }

  .otherEntryButtons button {
    width: 100%;
    border: 1px solid #000;
  }

  .otherEntryButtons button span {
    color: #000;
  }

  .otherEntryButtons button::before{
    background: #000;

  }

  .otherEntryButtons button:hover span {
    color: #fff;
  }
}

@media (max-width: 496px) {
  .log {
    width: 100%;
    padding: 2.4em 10px 10px 10px;
  }

  .authButtons {
    width: 100%;
    padding: 10px;
  }

  /* .disc {
      font-size: 18px;
  } */
  .forms {
    border: 0;
    box-shadow: 0 0 2px #fff;
  }

  .entryButtons {
    width: 80%;
    justify-content: center;
    gap: 18px;
  }

  .entryButtons button {
    width: 100px;
    font-size: 14px;
    padding: 8px 10px;
  }

  .otherEntryButtons button {
    padding: 10px 12px;
  }

  .or {
    font-size: 12px;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}