.searchPage {
  width: 100%;
  /* height subtract due to bottom Navbar */
  min-height: calc(100% - 89px);
  height: fit-content;
  background: #000;
  padding: 1.4em;
  /* position: relative; */
  overflow-x: hidden;
}

.searchDiv {
  margin: auto;
  width: 482px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 1em 0;
  flex-direction: column;
  transform: translateY(8em);
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.searchBar {
  width: 100%;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 14px;
  cursor: pointer;
  /* position: relative; */
  z-index: 60;
}

.searchIcon {
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.clearBtn {
  /* position: absolute; */
  top: 0;
  right: 10px;
  width: 30px;
  height: 100%;
  color: #fff;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

.searchBar input {
  width: calc(100% - 35px);
  float: right;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  border: transparent;
  outline: none;
  font-size: 14px;
}

@media (max-width: 496px) {
  .searchPage {
    padding: 1.2em 10px;
  }

  .searchDiv {
    width: 100%;
    gap: 12px;
  }

  .searchBar {
    padding: 6px 12px;
  }

  .searchIcon {
    width: 24px;
    height: 24px;
  }

  .searchBar input {
    width: calc(100% - 30px);
    font-size: 14px;
  }
}