.searchDropDown {
  z-index: 50;
  width: 100%;
  padding: 4px;
  border-radius: 10px;
  background-color: #212121;
  box-shadow: 0 0 3px 0 #3a3939;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 50px;


}

.searchDropDown::-webkit-scrollbar {
  display: none;
}

.result {
  width: 100%;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  padding: 8px 14px;
  cursor: pointer;
}

.result p {
  color: #fff;
  font-size: 14px;
}

@media (max-width: 496px) {
  .searchDropDown {
    top: 40px;
  }
}