.bottomNav{
  width: 100%;
  height: 90px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  gap: 4em;
  z-index: 1;
}
.bottomIcon{
  position: relative;
  z-index: 1;
}
.bottomIcon a{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}
.bottomIcon img{
  width: 32px;
  height: 32px;
}
.badge{
  position: absolute;
  top: -6px;
  right: -6px;
  min-width: 20px;
  max-width: fit-content;
  height: 20px;
  background: red;
  color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 12px;
}
.bottomIcon a span{
  color: #fff;
  font-size: 12px;
}
.bottomIcon a span.active{
  font-weight: bold;
}
/* @media (max-width: 496px) {
  .bottomNav{
    height: 0px;
  }
} */