* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  overflow-x: hidden !important;
}

a,
li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

#app {
  width: 100vw;
  height: 100vh;

}